.jumbotron {
  text-align: center;
  background-image: url("../img/Coding-Programming-Background-5.jpg");
  color: white;
}

.radio-buttons {
  margin: 10px;
}

.sub-title {
  margin-bottom: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 250px;
}

.output {
  margin-bottom: 50px;
}

.hide {
  display: none;
  float: left;
  align-items: center;
}

body {
  background-color: rgba(246, 246, 246, 0.712);
}