.jumbotron {
  text-align: center;
  background-image: url("../img/Coding-Programming-Background-5.jpg");
  color: white;
}

.radio-buttons {
  margin: 10px;
}

.sub-title {
  margin-bottom: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 250px;
}

.output {
  margin-bottom: 50px;
}

.name-input {
  padding: 10px 10px 0px 10px;
}

.hide {
  display: none;
  float: left;
  align-items: center;
}

body {
  background-color: rgba(246, 246, 246, 0.712);
}

.bg-csharp {
  background-color: #380090;
}

.bg-javascript {
  background-color: #f0db4f;
}

.bg-python {
  background-color: #3470a0;
}

.bg-java {
  background-color: #5283a2;
}